<html>
    <body>
        <h1>{{ .code }}</h1>
        <h4>{{ .message}}</h4>
        <h4>{{ .err_msg}}</h4>

        <form action="/" method="get">
            <button type="submit">처음으로</button>
        </form>
    </body>
</html>