<html>
    <head>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                document.getElementById("user_register").addEventListener("submit", function(event) {
                    event.preventDefault();

                    const formData = new FormData(event.target);

                    fetch("/login", {
                        method: "POST",
                        body: formData
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log("data!!:", data);
                        console.log("meta!!:", data[meta]);
                        console.log("message!!:", data.meta.message);

                      if (data.meta && data.meta.message) {
                            document.querySelector(".message").innerHTML = data.meta.message;
                        } else {
                            console.error("Error: 'message' not found in server response.");
                        }
                    })
                    .catch(error => {
                        console.error("Error:", error);
                    });
                });
            });
        </script>
    </head>
	<h1>{{ .title }}</h1>

    <form id="user_register" action="/login" method="post">
        <label for="phone_number">휴대폰 번호:</label>
        <input type="tel" id="phone_number" name="phone_number" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 11);" required><br>
        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password" required><br>
        <button type="submit">로그인</button>
    </form>
    <form action="/register" method="get">
        <button type="submit">회원가입</button>
    </form>
    <br>
    <div class="message"></div>
</html>
